.blad {
  flex: 1 1 auto;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: .375rem 1.75rem .375rem .75rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.ladowanie {
  flex: 1 1 auto;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: .375rem 1.75rem .375rem .75rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
}